<hr>
<section class="container list">
	<ul>
{{ range (.Paginator 10).Pages }}
    <li>
  <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
  <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}"{{ if or (strings.HasPrefix (.Params.externalLink | default .RelPermalink) "http") (strings.HasPrefix (.Params.externalLink | default .RelPermalink) "https") }} target="_blank"{{ end }}>{{ .Title }}</a>
</li>
{{ end }}
</ul>
{{ partial "pagination.html" . }}
</section>

